
.topbar {
  background-color: #212529;
  box-shadow: 0 2px 4px white ;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid rgb(99, 98, 98);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); 
}


.logo{
  font-size: 25px;
  font-weight: 700;
  color: red;
}

